<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copyright" >

	<script src="assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/index.js" type="text/javascript"></script>

	<!--header-->
	<header class="header home_p" >


		<div class="imgG"></div>
		<div class="container">

			<div class="logo">
				<a href="../index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			<a href="#mmenu" class="phone-nav"><i class="fa fa-list"></i></a>
			<div class="logo_right">
				<nav class="nav">
					<ul>
						<li><a href="/"  class="active" >首页</a></li>
						<li><a href="scenic_overview">景区概况</a></li>
						<li><a href="court_travel">文苑之旅</a></li>
						<li><a href="comfortable">舒雅住宅</a></li>
						<li><a href="news">新闻动态</a>
							<ul>
								<li><a href="news">公司新闻</a></li>
								<li><a href="news">行业新闻</a></li>
							</ul>
						</li>
						<li><a href="feedback">留言中心</a></li>
						<li><a href="contact">联系我们</a></li>
					</ul>
				</nav>
				<!--
                  <div class="search">
                      <span class="sea_x">
                          <input type="" name="" id="" placeholder="请输入关键词">
                          <i class="fa fa-search"></i>
                      </span>
                      <span class="y_z">
                          <a href="" class="zh active">中</a><a href="" class="en">En</a>

                      </span>
                  </div>
                -->
				<div class="login">
					<img src="images/datou.jpg" class="datou">
					<a href="../login.html" style="position: absolute;left: 132px;top: 13px;">为什么登录 ？</a><br/>
					<a href="../login.html" style="position: absolute;left: 132px;top: 33px;">登录后可以干什么 ？</a>
				</div>

				<div class="tishi" id="tishi">
					<div class="sanjiao"></div>
					你还没有登录 ，<br/>你可以去 <a href="../login.html">登录</a> 或者 <a href="../login.html">注册 </a>
				</div>
			</div>

		</div>
	</header>
</div>



</body>
</html>
